.SR {
    margin-top: 20px;
    border: 1px solid rgb(205, 210, 210);
    box-shadow: rgb(220 223 223) 0px 1px;
    background: rgb(242, 242, 242);
    border-radius: 2px;
}

.SR2 {
    display: table;
    width: 100%;
    color: rgb(135, 146, 146);
    position: relative;
    background-color: rgb(242, 242, 242);
    padding: 8px 0px;
}

.tierImg {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    height: 124px;
    text-align: center;
}

.srImg {
    width: 104px;
    height: 104px;
    margin: -5px 0px -10px;
}

.info {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
}

.info1 {
    font-size: 11px;
    color: rgb(135, 146, 146);
}

.info2 {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(31, 142, 205);
}

