.infoD {
    position: relative;
    width: 1000px;
    margin: 0px auto;
    padding: 20px 0px 0px;
    display: block;
}

.info ul {
    margin-top: -5px;
    margin-left: 5px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.info li {
    display: inline-block;
    padding: 3px 4px 2px;
    margin-right: 7px;
    background: rgb(224, 227, 227);
    color: rgb(101, 112, 112);
    font-size: 11px;
    border: 1px solid rgb(206, 211, 211);
    border-radius: 3px;
    text-transform: capitalize;
}

.faceD {
    display: inline-block;
    width: 100px;
    padding-left: 30px;
    vertical-align: top;
}

.face_icon {
    position: relative;
    display: block;
}

.face_border_image {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 120px;
    height: 120px;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.face_img {
    display: block;
    width: 100px;
    height: 100px;
}

.faceS {
    position: absolute;
    top: 100%;
    left: 70%;
    margin-top: -14px;
    margin-left: -22px;
    width: 44px;
    height: 24px;
    padding-top: 3px;
    box-sizing: border-box;
    background: url('./levelbox.png');
    background-size: 100%;
    line-height: 17px;
    font-family: Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    font-size: 14px;
    text-align: center;
    color: #eabd56;
}

/* profile */
.profileD {
    position: relative;
    display: inline-block;
    height: 100px;
    margin: 0px 25px 0px 50px;
    vertical-align: top;
    line-height: 1.1;
}

.profileI {
    display: block;
}

.profileS {
    color: rgb(36, 41, 41);
    font-size: 20px;
    font-weight: bold;
    margin-right: 4px;
    vertical-align: middle;
}

.profileB {
    margin-left: 4px;
    vertical-align: 1px;
    text-decoration: none;
    color: rgb(119, 119, 119);
    display: inline-block;
    border: 1px solid rgb(198, 203, 203);
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 10px;
    background: transparent;
    cursor: pointer;
    margin: 0px;
}

.profileIMG {
    vertical-align: middle;
    zoom: 0.7;
    margin-right: 4px;
}

.profileR {
    color: rgb(85, 94, 94);
    font-size: 11px;
    text-decoration: none;
    line-height: 1.5;
    margin-bottom: 5px;
}
.profileRS {
    color: rgb(5, 158, 222);
    font-weight: bold;
}

.profileBtn{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 0px;
    margin: 15px 0px -6px;
    white-space: nowrap;
}

.profileRB{
    position: relative;
    border: 1px solid #1a78ae;
    background: #1f8ecd;
    color: #f2f2f2;
    padding: 11px 14px 10px;
    border-radius: 2px;
    font-size: 14px;
    margin: 0 6px 6px 0;
}

.profileTG{
    border: 1px solid #ccd1d1;
    background: #f2f2f2;
    color: #242929;
    padding: 11px 14px 10px;
    border-radius: 2px;
    font-size: 14px;
    margin: 0 6px 6px 0;
}