.div {
     position: relative;
     height: 40px;
     padding-left: 10vw;
     background-color: #232f46;
     display: flex;
     align-items: center;
     margin: 0px;
 }
 .h1 {
     position: absolute;
     top: 0;
     left: 0;
     width: 150px;
     height: 40px;
     background-color: #5383E8;
     margin: 0px;
 }

 .a {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .img {
    border: 0px;
    vertical-align: middle;
    max-width: 100%;
    width: 80%;    
    height: auto;
 }

 .nav {
     flex: 1;
     display: block;
 }

 .ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: start;

 }

 .li {
     display: flex;
     align-items: center;
     height: 40px;
 }

 .span {
     color: #FFF;
     display: flex;
     justify-content: center;
     align-items: center;
 }